*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #babd8d;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 450px;
  min-height: 650px;
  border-radius: 16px;
  border-radius: 26px;
  background: linear-gradient(120deg, #d291bc, #957dad, #a51919);
}

#container h4 {
  color: ivory;
  margin-bottom: 20px;
  font-weight: 800;
}

#buttons {
  display: flex;
  flex-direction: row;
  color: #f3e5f5;
}

#timer-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f3e5f5;
  width: 350px;
  height: 350px;
  border-radius: 20px; 
}

#break-label {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#break {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  font-weight: 600;
  align-items: center;
}

#session-label {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#session {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 30px;
  align-items: center;
  font-weight: 600;
}

#time-left {
  font-size: 90px;
  font-weight: 700;
}

#start_stop, #reset {
  font-size: 50px;
  cursor: pointer;
  border-radius: 50%;
  background: linear-gradient(-145deg, #c41e1e, #a51919);
  margin-right: 20px;
}

#break-increment {
  cursor: pointer;
}

#break-decrement {
  cursor: pointer;
}

#session-increment {
  cursor: pointer;
}

#session-decrement {
  cursor: pointer;
}

#title {
  min-width: 85%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  background-color: #957dcd;
  color: ivory;
}